* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.boxgrid {
    display: grid;
    width: 20%;
    height: 40%;
    grid-template-areas: 
    'a b c'
    'd e f'
    'g h i';
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 5em;
    position: relative;
}

#boxone {
    grid-area: a;
    border: 1px solid #000000;
    display: flex;
    align-items: center;
    justify-content: center;
}

#boxtwo {
    grid-area: b;
    border: 1px solid #000000;
    display: flex;
    align-items: center;
    justify-content: center;
}

#boxthree {
    grid-area: c;
    border: 1px solid #000000;
    display: flex;
    align-items: center;
    justify-content: center;
}

#boxfour {
    grid-area: d;
    border: 1px solid #000000;
    display: flex;
    align-items: center;
    justify-content: center;
}

#boxfive {
    grid-area: e;
    border: 1px solid #000000;
    display: flex;
    align-items: center;
    justify-content: center;
}

#boxsix {
    grid-area: f;
    border: 1px solid #000000;
    display: flex;
    align-items: center;
    justify-content: center;
}

#boxseven {
    grid-area: g;
    border: 1px solid #000000;
    display: flex;
    align-items: center;
    justify-content: center;
}

#boxeight {
    grid-area: h;
    border: 1px solid #000000;
    display: flex;
    align-items: center;
    justify-content: center;
}

#boxnine {
    grid-area: i;
    border: 1px solid #000000;
    display: flex;
    align-items: center;
    justify-content: center;
}